html, body {
    margin: 0;
    padding: 0;
    /* set font */
}

#wrapper-index {
    display: grid;
    height: 800vh;
    grid-template-areas: 
    "hd hd hd"
    "nv nv nv"
    "bi bi bi"
    "rt rt rt"
    "r1 r2 r3"
    "gt gt gt"
    "g1 g2 g3"
    "bn bn bn"
    "it it it"
    "i1 i2 i3"
    "mt mt mt"
    "m1 m2 m3"
    "pt p1 p2"
    "fq fq fq"
    "ft ft ft";

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 8.5vh 17vh 12fr 5fr 10fr 5fr 10fr 10fr 1fr 10fr 5fr 10fr 10fr 10fr 40vh;
    
}

header {
    grid-area: hd;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    grid-area: nv;
    background-color: orange;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#back-img {
    grid-area: bi;
    background-color: yellow;
    background-image: url(/img/#);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#review-text {
    grid-area: rt;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}

#review-1 {
    grid-area: r1;
    background-color: green;
}

#review-2 {
    grid-area: r2;
    background-color: blue;
}

#review-3 {
    grid-area: r3;
    background-color: indigo;
}

#goal-text {
    grid-area: gt;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

#goal-1 {
    grid-area: g1;
    background-color: violet;
}

#goal-2 {
    grid-area: g2;
    background-color: red;
}

#goal-3 {
    grid-area: g3;
    background-color: orange;
}

#benefits {
    grid-area: bn;
    background-color: yellow;
}

#instructor-text {
    grid-area: it;
    background-color: red;
}

#instructor-1 {
    grid-area: i1;
    background-color: green;
}

#instructor-2 {
    grid-area: i2;
    background-color: blue;
}

#instructor-3 {
    grid-area: i3;
    background-color: indigo;
}

#meals-text {
    grid-area: mt;
    background-color: red;
}

#meal-1{
    grid-area: m1;
    background-color: yellow;
}

#meal-2{
    grid-area: m2;
    background-color: green;
}

#meal-3{
    grid-area: m3;
    background-color: blue;
}

#plans-text {
    grid-area: pt;
    background-color: violet;
    display: flex;
    align-items: center;
    justify-content: center;
}

#plans-1 {
    grid-area: p1;
    background-color: red;
}

#plans-2 {
    grid-area: p2;
    background-color: orange;
}

#faq {
    grid-area: fq;
    background-color: violet;
}

footer {
    grid-area: ft;
    background-color: indigo;
}

.left-nav h3 {
    display: inline-block;
}

.right-nav h3,
.right-nav button {
    display: inline-block;
}

.center-div {
    text-align: center;
}

.review {
    text-align: center;
    padding: 10px;
}

.review img {
    width: 80%;
    
}

.goal {
    text-align: center;
}

.goal img{
    width: 80%;
}

.goal a {
    display: block;
}

.benefits-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.benefit {
    display: inline-block;
    width: 40%;
    box-sizing: border-box;
}

.instructor {
   text-align: center;
   padding: 10px;
}

.box-container {
    border: solid black 1px;
    border-radius: 10px;
    width: 300px;
    height: 350px;
}

.instructor img {
    width: 80%;
}

.meal {
    text-align: center;
    padding: 10px;
}

.meal img {
    width: 80%;
}
.text-container {
    width: 80%;
}

#plans-1,
#plans-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#faq h2 {
    text-align: center;
}

.faq-container {
    max-width: 600px;
    margin: 0px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
}

.faq-item {
    margin-bottom: 20px;
}

.question {
    font-weight: bold;
    color: #333;
    cursor: pointer;
}

.answer {
    display: none;
    margin-top: 10px;
    color: #666;
}

.question.open {
    color: #0066cc;
}

.question.open + .answer {
    display: block;
}

.newsletter-container h2,
.newsletter-container input {
    display: inline-block;
    margin-right: 10px;
}


#wrapper-meals {
    display: grid;
    height: 350vh;
    grid-template-areas: 
    "hd hd hd"
    "nv nv nv"
    "bi bi bi"
    "pt pt pt"
    "p1 p2 p3"
    "wt wt wt"
    "wk wk wk"
    "tx vm up"
    "ft ft ft";

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 8.5vh 17vh 12fr 2fr 10fr 2fr 10fr 10fr 40vh;
}

#back-img-meals {
    grid-area: bi;
    background-color: yellow;
    background-image: url(/img/#);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#meal-text {
    grid-area: pt;
    background-color: red;
    text-align: center;
}

#popular-meal-1 {
    grid-area: p1;
    background-color: green;
}

#popular-meal-2 {
    grid-area: p2;
    background-color: blue;
}

#popular-meal-3 {
    grid-area: p3;
    background-color: violet;
}

#week-text {
    grid-area: wt;
    background-color: green;
    text-align: center;
}

#week-meals {
    grid-area: wk;
    background-color: red;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#text-meals {
    grid-area: tx;
    background-color: orange;
}

#view-more {
    grid-area: vm;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
}

#upload-meal {
    grid-area: up;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
}

.meal-popular {
    text-align: center;
    padding: 10px;
}

.meal-popular img {
    width: 80%;
}

.week-meal {
    border: solid black 1px;
    border-radius: 10px;
    height: 300px;
    width: 150px;
    text-align: center;
}

.week-meal img {
    width: 80%;
}

#wrapper-classes {
    display: grid;
    height: 350vh;
    grid-template-areas: 
    "hd"
    "nv"
    "tc"
    "cl"
    "ft";

    grid-template-columns: 1fr;
    grid-template-rows: 8.5vh 17vh 5fr 30fr 40vh;
}

#text-classes {
    grid-area: tc;
    background-color: yellow;
}

#classes {
    grid-area: cl;
    background-color: green;
    display: flex;
    flex-wrap: wrap;
    
}

.class {
    box-sizing: border-box;
    width: 25%;
    border: black 1px solid;
    text-align: center;
}

.class img {
    width: 200px;
    height: 200px;
}