html, body {
    margin: 0;
    padding: 0;
}

* {
    font-family: "Poppins";
}

p {
    color: rgb(76, 79, 83);
}

a {
    text-decoration: none;
    color: rgb(76, 79, 83);
}

#wrapper-index {
    display: grid;
    height: 800vh;
    grid-template-areas: 
    "hd hd hd"
    "nv nv nv"
    "bi bi bi"
    "rt rt rt"
    "r1 r2 r3"
    "gt gt gt"
    "g1 g2 g3"
    "bn bn bn"
    "it it it"
    "i1 i2 i3"
    "mt mt mt"
    "m1 m2 m3"
    "pt p1 p2"
    "fq fq fq"
    "ft ft ft";

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 8.5vh 17vh 12fr 5fr 10fr 5fr 10fr 15fr 1fr 10fr 5fr 10fr 10fr 10fr 40vh;
    
}

header {
    grid-area: hd;
    background-color: rgb(231, 76, 60);
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    grid-area: nv;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#back-img {
    grid-area: bi;
    background-image: url(/img/back-img3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#review-text {
    grid-area: rt;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}

#review-1 {
    grid-area: r1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#review-2 {
    grid-area: r2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#review-3 {
    grid-area: r3;
    display: flex;
    justify-content: center;
    align-items: center;
}

#goal-text {
    grid-area: gt;
    display: flex;
    justify-content: center;
    align-items: center;
}

#goal-1 {
    grid-area: g1;
}

#goal-2 {
    grid-area: g2;
}

#goal-3 {
    grid-area: g3;
}

#benefits {
    grid-area: bn;

}

#instructor-text {
    grid-area: it;
}

#instructor-1 {
    grid-area: i1;

}

#instructor-2 {
    grid-area: i2;

}

#instructor-3 {
    grid-area: i3;

}

#meals-text {
    grid-area: mt;
}

#meal-1{
    grid-area: m1;
}

#meal-2{
    grid-area: m2;
}

#meal-3{
    grid-area: m3;
}

#plans-text {
    grid-area: pt;
    display: flex;
    align-items: center;
    justify-content: center;
}

#plans-1 {
    grid-area: p1;
}

#plans-2 {
    grid-area: p2;
}

#faq {
    grid-area: fq;
    background-color: violet;
}

footer {
    grid-area: ft;
    background-color: indigo;
}

header h2 {
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
}

.logo {
   height: 80px;
   margin-left: 15px;
}


.left-nav,
.right-nav {
    display: flex;
    align-items: center;
}

nav a {
    margin-left: 40px;
    font-size: 1.2rem;
}



.center-div {
    text-align: center;
}

.center-div-width {
    text-align: center;
    width: 60%;
}

#back-img h1 {
    font-weight: bold;
    font-size: 2rem;
    color: white;
}

#back-img p {
    color: white;
}

#back-img button {
    margin-top: 20px;
    border: none;
    background-color: white;
    padding: 20px 40px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

#review-text h2 {
    font-weight: normal;
    margin: 10px;
    
}

.boxshadow-card {
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 15px;
    background-color: snow;
    width: 80%;
}

.boxshadow-card img {
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.padding {
    padding: 10px;
}

.brand-color {
    color: rgb(231, 76, 60);
}

.goal {
    text-align: center;
}

.goal img{
    width: 80%;
    height: 70%;
    border-radius: 15px;
    display: block;
    margin: 0 auto;
}


.goal a,
.goal p {
    display: block;
    text-align: start;
    margin-left: 10%;
}

.goal p {
    font-weight: bold;
    margin-top: 10px;
}

.custom-overline,
.custom-underline {
    position: relative;
    display: inline-block;
}

.custom-overline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 90%; /* Adjust the width as needed */
    height: 0.5px; /* Adjust the thickness as needed */
    background-color: rgb(76, 79, 83); /* Adjust the color as needed */
}


.custom-underline::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 90%; /* Adjust the width as needed */
    height: 0.5px; /* Adjust the thickness as needed */
    background-color: rgb(76, 79, 83); /* Adjust the color as needed */
}


.benefits-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.benefit {
    display: inline-block;
    width: 40%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.standard-button {
    border: none;
    color: white;
    background-color: rgb(231, 76, 60);
    padding: 15px;
    border-radius: 5px;
    font-size: 1.2rem;
    margin-left: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.instructor {
   text-align: center;
   padding: 10px;
}

.instructor img {
    width: 80%;
    border-radius: 15px;
}

.box-container {
    background-color: snow;
    border: solid rgb(76, 79, 83) 0.5px;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
}

#plans-1 .box-container button {
    margin-top: 100px;
    margin-bottom: 0;
}

#plans-2 .box-container button {
    margin-top: 64px;
    margin-bottom: 0;
}

.meal {
    text-align: center;
    padding: 10px;
}


.text-container {
    width: 80%;
}

#plans-1,
#plans-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#faq h2 {
    text-align: center;
}

.faq-container {
    max-width: 600px;
    margin: 0px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
}

.faq-item {
    margin-bottom: 20px;
}

.question {
    font-weight: bold;
    color: #333;
    cursor: pointer;
}

.answer {
    display: none;
    margin-top: 10px;
    color: #666;
}

.question.open {
    color: #0066cc;
}

.question.open + .answer {
    display: block;
}

.newsletter-container h2,
.newsletter-container input {
    display: inline-block;
    margin-right: 10px;
}


#wrapper-meals {
    display: grid;
    height: 350vh;
    grid-template-areas: 
    "hd hd hd"
    "nv nv nv"
    "bi bi bi"
    "pt pt pt"
    "p1 p2 p3"
    "wt wt wt"
    "wk wk wk"
    "tx vm up"
    "ft ft ft";

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 8.5vh 17vh 12fr 2fr 10fr 2fr 10fr 10fr 40vh;
}

#back-img-meals {
    grid-area: bi;
    background-color: yellow;
    background-image: url(/img/#);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#meal-text {
    grid-area: pt;
    background-color: red;
    text-align: center;
}

#popular-meal-1 {
    grid-area: p1;
    background-color: green;
}

#popular-meal-2 {
    grid-area: p2;
    background-color: blue;
}

#popular-meal-3 {
    grid-area: p3;
    background-color: violet;
}

#week-text {
    grid-area: wt;
    background-color: green;
    text-align: center;
}

#week-meals {
    grid-area: wk;
    background-color: red;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#text-meals {
    grid-area: tx;
    background-color: orange;
}

#view-more {
    grid-area: vm;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
}

#upload-meal {
    grid-area: up;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
}

.meal-popular {
    text-align: center;
    padding: 10px;
}

.meal-popular img {
    width: 80%;
}

.week-meal {
    border: solid black 1px;
    border-radius: 10px;
    height: 300px;
    width: 150px;
    text-align: center;
}

.week-meal img {
    width: 80%;
}

#wrapper-classes {
    display: grid;
    height: 350vh;
    grid-template-areas: 
    "hd"
    "nv"
    "tc"
    "cl"
    "ft";

    grid-template-columns: 1fr;
    grid-template-rows: 8.5vh 17vh 5fr 30fr 40vh;
}

#text-classes {
    grid-area: tc;
    background-color: yellow;
}

#classes {
    grid-area: cl;
    background-color: green;
    display: flex;
    flex-wrap: wrap;
    
}

.class {
    box-sizing: border-box;
    width: 25%;
    border: black 1px solid;
    text-align: center;
}

.class img {
    width: 200px;
    height: 200px;
}